.create-page {
  @include grid;

  &__create-form {
    grid-column: span 4;

    transform: translateY(20%);

    @include onTablet {
      grid-column: span 12;
    }

    @include onDesktop {
      grid-column: 7/19;
      transform: translateY(20);
    }
  }
}
